#################################################################
# Default .gitignore content for all terraform-aws-modules below
#################################################################

.DS_Store

# Local .terraform directories
**/.terraform/*

# Terraform lockfile
.terraform.lock.hcl

# .tfstate files
*.tfstate
*.tfstate.*
*.tfplan

# Crash log files
crash.log

# Exclude all .tfvars files, which are likely to contain sentitive data, such as
# password, private keys, and other secrets. These should not be part of version
# control as they are data points which are potentially sensitive and subject
# to change depending on the environment.
*.tfvars

# Ignore override files as they are usually used to override resources locally and so
# are not checked in
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Ignore CLI configuration files
.terraformrc
terraform.rc

.releaserc.json

project
config
credentials
.terraform
.vagrant
.idea
.DS_Store
terraform.tfstate
terraform.tfstate.backup
*.tfstate.lock.info
kubeconfig_eks-*
/config_eks-*
terraform-aws-eks/workspace/base/eks-*
.terraform.tfstate.lock.info
aws-iam-authenticator
s3_bucket_id
*_bak
info
_data
/resources
/projects
unseal2.txt
myoutput.txt
cert
*.zip
lb2.tf
*.lock.hcl
get_helm.sh
ca.crt
ca.key
issuer.crt
issuer.key
*_bake

